.git
.gitignore
.dockerignore
.env.local
.env.*.local
docker-compose.yaml
compose.yaml
compose.override.yaml
Dockerfile
render.yaml
var/
vendor/
public/bundles/
public/storage/
tests/
phpunit.xml.dist
.github/
.vscode/
node_modules/
npm-debug.log
yarn-error.log
.DS_Store
